.container {
  max-width: 900px;
  margin: 20px;
  position: relative; /* Make sure the container is positioned relatively */
}

.right {
  position: absolute;
  top: 0; /* Adjust as needed */
  right: 0; /* Position the 'right' element to the right of the container */
}

h1 {
  font-size: 36px; 
  font-family: Arial, sans-serif; 
  color: rgb(214, 214, 240); 
  text-align: center; 
  margin: 200px 100px;
 
  
}